# Git ignore file for my dotfiles git bare repository

# User directories
Documents/
Downloads/
Pictures/
Arduino/
Desktop/
Templates/
Videos/
Public/
Music/
Edraw/
snap/

# Apps generated hidden directories
.AndroidStudio4.0/
.AsciidocFX-1.7.0/
.AsciidocFX-1.7.2/
.android
.com.kodedu.boot.AppStarter/
.dia/
.dropbox/
.eclipse/
.cache/
.arduino15/
.gem/
.gradle/
.gnupg/
.gitkraken/
.java/
.kde4/
.latexdraw/
.lemminx/
.lesshst
.matlab/
.mchp_packs/
.mozilla/
.mplab_ide/
.mplabcomm/
.npm/
.oracle_jre_usage/
.pgadmin/
.phpls/
.sts4/
.subversion/
.thumbnails/
.tooling/
.tuxtype/
.xournal/
.xournalpp/
.zoom/
.pylint.d/
.vscode-oss

.links/
.elinks/
.ssh/
.pki/
.swt/
.m2/
.local/
.emacs.d/
.doom.d/

.bin/
.vim/

.programs/
.images/

# Files 
.Xauthority
.face
.packettracer

.rnd

.*bak
.*bk
.*history
.attach_*

.bash_logout
.viminfo*
.viminfz.tmp
.xsession-errors*
.h2.server.properties
.gtkrc-2.0
.install4j
.yarnrc
.zcompdump*

# Maybe I'll uncomment this later
.conkyrc
.dmrc
.profile
.screenrc
.vuerc
.xinitrc
.xmonad/
.xsession
.xsessionrc

*__pycache__*
